@font-face {
    src: url('../fonts/NotoSans-Regular.ttf');
}


.rootpane {
   -fx-min-width: 1100;
   -fx-min-height: 700;
   -fx-background-color: #FFFFFF;
   -fx-font-family: 'Noto Sans Regular';
}

/*.address {
    -fx-border-width: 1;
    -fx-border-color: transparent transparent #E2E2E2 transparent;
}*/

.context-menu {
    -fx-font-size: 12px;
}

.list-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DAE1E9;
    -fx-border-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-min-height: 30px;
}

.list-view .list-cell:odd {
    -fx-background-color: white;
}

.list-view .list-cell:even {
    -fx-background-color: white;
}

.list-view:focused {
    -fx-border-color: #DAE1E9;
}

.list-view .list-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DAE1E9;
    -fx-border-radius: 0;
}

.list-view .list-cell:hover {
    -fx-background-color: white;
    -fx-text-fill: #000000;
}

.list-view .list-view:selected {
    -fx-background-color: #EEF5FE;
    -fx-text-fill: #000000;
}

.list-view .list-cell:selected {
    -fx-text-fill: #000000;
    -fx-font-color: black;
    -fx-background-color: #EEF5FE;
}

.list-view .list-cell:selected .label {
    -fx-text-fill: #000000;
    -fx-font-color: black;
}

.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DAE1E9;
    -fx-border-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-min-height: 30px;
}

.combo-box:focused {
    -fx-border-color: #1F5AF6;
}

.combo-box .list-view {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DAE1E9;
    -fx-border-radius: 0;
}

.combo-box .list-cell:hover {
    -fx-background-color: #F8F9FB;
    -fx-text-fill: #000000;
}

.combo-box .list-view:selected {
    -fx-background-color: #F8F9FB;
    -fx-text-fill: #000000;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-text-fill: #000000;
    -fx-background-color: #F8F9FB;
}

.combo-box.big {
    -fx-pref-width: 274;
    -fx-pref-height: 65;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #1F5AF6;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-cursor: hand;
/*
    -fx-background-color: #1751EC;
*/
}

.icon-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #7995B9;
}

.icon-button:hover {
    -fx-cursor: hand;
}

.login-window {
    -fx-alignment: TOP_CENTER;
    -fx-padding: 26 0 0 0;
}

.login-button {
    -fx-background-color: #1F5AF6;
    -fx-text-fill: #FFFFFF;
}

.login-button:hover {
    -fx-background-color: #1751EC;
}

.login-button:pressed {
    -fx-background-color: #2051D3;
}

.account-creator-button {
    -fx-min-width: 70px;
    -fx-min-height: 30px;
}

.account-creator-button:pressed {
    -fx-background-color: #2051D3;
}

.account-creator-button:hover {
    -fx-background-color: #1751EC;
}

.dialog-button {
    -fx-min-width: 150px;
    -fx-min-height: 40px;
}

.text-button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #5A91EF;
    -fx-padding: 0;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-color: #DAE1E9;
    -fx-border-radius: 0;
    -fx-accent: #0055FF;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.text-area.seed {
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-margin: 10 0 10 0;
}

.text-area.seed .text {
    -fx-text-alignment: center;
    -fx-line-spacing: 10px;
}

.text-area:focused {
    -fx-border-color: #1F5AF6;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DAE1E9;
    -fx-border-radius: 0;
    -fx-accent: #0055FF;
    -fx-min-height: 29px;
}

.text-field .content {
    -fx-highlight-fill: #7ecfff;
}

.text-field:focused {
    -fx-border-color: #1F5AF6;
}

.password-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DAE1E9;
    -fx-border-radius: 0;
}

.password-field:focused {
    -fx-border-color: #1F5AF6;
}

.alert {
    -fx-border-color: #F4B1A5;
}

.alert:focused{
    -fx-border-color: #F4B1A5;
}

.arrow {
    -fx-background-color: #A8C6DF;
}

.input-label {
    -fx-padding: 0 0 5 0;
    -fx-font-size: 12;
    -fx-alignment: TOP_LEFT;
}

.label.form {
    -fx-padding: 5 0 5 0;
    -fx-alignment: TOP_LEFT;
}

.gegege {
    -fx-padding: 5 0 5 0;
}

.check-box-form {

}

.account-creator-logo {
    -fx-padding: 0 0 40 0;
    -fx-alignment: CENTER;
}

.account-creator-footer {
    -fx-padding: 30;
}

.account-creator {
    -fx-alignment: TOP_CENTER;
    -fx-padding: 100 0 0 0;
}


.account-creator-label {
    -fx-font-size: 22px;
    -fx-padding: 10 10 35 10;
}

.label.warning .text{
    -fx-font-size: 14;
    -fx-fill: #E6606F;
}

.error-font {
    -fx-text-fill: #E65F6E;
}

.error-icon .ikonli-font-icon , .error-icon .tooltip {
    -fx-icon-color: #F5B8AD;
    -fx-icon-size: 18;
    -fx-background-color: #E5494D;
    -fx-show-duration: 30s;
    -fx-show-delay: 10ms;
}

.text-field.user-data {
    -fx-padding: 5 0 5 0;
}

.form-input-alert {
    -fx-padding: 2 0 0 0;
    -fx-alignment: TOP_LEFT;
}

.form-input-alert .text {
    -fx-fill: #E65F6E;
}

.form-toggle {
    -fx-padding: 5 10 5 0;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: lime;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: red;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: blue;
}

.radio-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: #DCE3EA;
    -fx-border-radius: 0;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #1F5AF6;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.radio-button:hover .radio{
    -fx-border-color: #1F5AF6;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: #DCE3EA;
    -fx-border-radius: 0;
}

.check-box:selected .radio .mark {
    -fx-background-color: #1F5AF6;
    -fx-background-insets: 0;
}

.check-box:hover .box{
    -fx-border-color: #1F5AF6;
}

.scroll-bar{
 -fx-background-color: transparent;
 -fx-background-radius: 1em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :1.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 2.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 2.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:horizontal .increment-arrow,
 .scroll-bar:horizontal .decrement-arrow,
 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.30em 0.30em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #DDE1E7;
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 0.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color : #C2C9D3;
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 0.0em;
}

.side-menu {
    -fx-border-width: 1;
    -fx-border-color: transparent #E2E2E2 transparent transparent;
    -fx-width: 272;
}

.menu-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-padding: 10 0 5 0;
}

.menu-label .text {
    -fx-fill: #9ba6b2;
    -fx-font-size: 12px;
}

.menu-button {
    -fx-min-height: 35;
    -fx-background-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 9 0 9 35;
    -fx-graphic-text-gap: 10;
}

.menu-button {
    -fx-min-height: 35;
    -fx-background-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 9 0 9 35;
    -fx-graphic-text-gap: 10;
}

.menu-button:hover {
    -fx-background-color: #EEF5FE;
}

.menu-button .text {
    -fx-fill: #7995B9;
    -fx-font-size: 18px;
    -fx-alignment: 0 0 0 10;
}

.menu-button .ikonli-font-icon {
    -fx-icon-color: #7995B9;
    -fx-icon-size: 18;
}

.menu-button:active .ikonli-font-icon  {
    -fx-icon-color: #1F5AF6;
}

.menu-button:active .text  {
    -fx-fill: #1F5AF6;
}

.menu-button:focused .ikonli-font-icon  {
    -fx-icon-color: #1F5AF6;
}

.menu-button:focused .text  {
    -fx-fill: #1F5AF6;
}

.table-view{
   -fx-background-color: transparent;
   -fx-border-width: 0;
   -fx-background-insets: 0;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-cell-size: 40px;
    -fx-alignment: CENTER;
}

.table-view .cell{
    -fx-border-color: #F8F9FB;
    -fx-border-width: 0 0 0.03em 0;
    -fx-text-fill: #5C6979;
}

.table-view .table-column {
  -fx-alignment: CENTER_LEFT;
}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT
}

.table-view:focused .table-row-cell:focused {
    -fx-background-color: #EEF5FE;
}

.table-row-cell:selected .text {
       -fx-fill: black;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #9BA6C3;
    -fx-padding: 0 0 10 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #EDF0F4;
}

.table-view .column-header-background .label .text{
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.dashboard-section{
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-border-color: #EDF0F4;
    -fx-padding: 0 0 15 0;
}

.dashboard-table .column-header-background{
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.dashboard-table .table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-cell-size: 30px;
    -fx-alignment: CENTER;
}

.dashboard-table .cell{
    -fx-border-width: 0 0 0 0;
}

.dashboard-table *.scroll-bar:vertical *.increment-button,
.dashboard-table *.scroll-bar:vertical *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.dashboard-table *.scroll-bar:vertical *.increment-arrow,
.dashboard-table *.scroll-bar:vertical *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.filter-icon {
    -fx-icon-color: #A1ABB6;
    -fx-padding: 0 0 0 5;
}

.filterbox {
    -fx-padding: 0 0 0 27;
}

.network .text,
.network .ikonli-font-icon  {
    -fx-icon-color: #E65F6E;
}

.tab-header-background {
    -fx-background-color: #ffffff;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #DDE4EB;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab-pane .tab
{
    -fx-background-color: #ffffff;

}

.tab-pane .tab:selected
{
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #1F5AF6;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #7995B9;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #1F5AF6;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.walletView-label, .walletView-label .text {
    -fx-font-size: 18px;
    -fx-fill: #7995B9;
}

.walletView-subLabel, .walletView-subLabel .text {
    -fx-fill: #7995B9;
}

.leasing-balance-anchor {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #EDF0F4;
    -fx-padding: 5 0 5 0;
}

.slider .track {
    -fx-background-color: #DAE1E9;
    -fx-background-insets: 4,0,4,0;
    -fx-pref-height: 10;
}

.slider .thumb {
    -fx-padding: 7;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #1F5AF6;
    -fx-border-radius: 10;
}


.slider .axis {
    -fx-tick-label-fill: #A8AECD;
    -fx-tick-label-gap: 7;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius: 0px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #28a3f4;
}

.dialog {
   -fx-min-width: 500;
   -fx-min-height: 550;
   -fx-max-width: 500;
   -fx-max-height: 550;
   -fx-background-color: #FFFFFF;
   -fx-padding: 25;
   -fx-border-width: 1;
   -fx-border-radius: 0;
   -fx-border-color: #E2E2E2;
   -fx-font-family: 'Noto Sans Regular';
}

.dialog-alert {
   -fx-min-width: 430;
   -fx-min-height: 180;
   -fx-max-width: 430;
   -fx-max-height: 180;
   -fx-padding: 0 0 0 0;
}

.dialog .head-label {
    -fx-padding: 0 0 30 0;
}

.dialog .head-label .text {
    -fx-font-size: 22px;
    -fx-fill: #7995B9;
}

.dialog .property {
    -fx-text-fill: #AAB3BD;
}

.dialog-alert .head-label {
    -fx-padding: 0 0 15 0;
}

.dialog-alert .head-label .text {
    -fx-font-size: 18px;
    -fx-padding: 0 0 5 0;
}

.dialog .grid {
    -fx-padding: 10 0 10 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-border-color: #EDF0F4;
}

.dialog-alert-button {
    -fx-min-width: 100px;
    -fx-min-height: 30px;
}

.dialog-small {
   -fx-min-height: 350;
}

.transparent-text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-focus-traversable: false;
}

.transparent-text-area {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.transparent-text-area .content {
    -fx-padding: 20;
}

.transparent-text-area .scroll-pane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}

.transparent-text-field-big {
    -fx-background-color: #F8F9FB;
    -fx-border-width: 0;
    -fx-focus-traversable: false;
    -fx-border-width: 1;
/*    -fx-border-radius: 0;*/
    -fx-border-style: dotted;
    -fx-border-color: #DAE1E9;
}

.dialog-pane{
    -fx-padding: 10 0 5 0;
    -fx-background-color: #ffffff;
}

.dialog-pane .content.label {
   -fx-background-color: #ffffff;
}

.dialog-pane .button-bar .container {
  -fx-background-color: #ffffff;
}

.dialog-pane:header .header-panel {
  -fx-background-color: #ffffff;
}

.menu-item:focused {
     -fx-background-color: #0055FF;
}

.transactions-vbox {
    -fx-padding: 5 0 5 0;
    -fx-alignment: CENTER_LEFT;
}

.transactions-headline {
    -fx-font-size: 12px;
    -fx-text-fill: #4e5c6e;
}

.transactions-info {
    -fx-font-size: 13px;
    -fx-text-fill: #9ba6b2;
}

.language-flag {
}

.language-label {
    -fx-text-fill: #4e5c6e;
    -fx-font-size: 12px;
    -fx-padding: 0 0 0 5;
}

.grid {
    -fx-padding: 5 0 5 0;
}

.fr {
    -fx-padding: 0 0 0 20;
}

.fr .text-field {
    -fx-margin: 5 0 5 0;
    -fx-min-height: 30px;
    -fx-font-size: 12px;
}

.fr .text-area {
    -fx-min-height: 30px;
    -fx-font-size: 12px;
}

.fr .combo-box {
    -fx-min-height: 30px;
    -fx-font-size: 12px;
}

.fr .label {
    -fx-padding: 5 0 5 0;
}

.fr .button {
    -fx-min-height: 29px;
    -fx-min-width: 60px;
}

.fr .icon-button {
    -fx-min-height: -1;
    -fx-min-width: -1;
    -fx-font-size: 11px;
}

.custom-cell-headline-label {
    -fx-text-fill: #4e5c6e;
    -fx-padding: 0;
    -fx-font-size: 12px;
}

.login-cell-headline-label {
    -fx-text-fill: #4e5c6e;
    -fx-padding: 0;
    -fx-font-size: 15px;
}

.custom-cell-subline-label {
    -fx-font-size: 12px;
    -fx-text-fill: #9ba6b2;
    -fx-padding: 0;
}

.custom-cell-vbox .label {
    -fx-padding: 0;
}

.block-cell-headline-label {
    -fx-text-fill: #4e5c6e;
    -fx-padding: 0;
    -fx-font-size: 12px;
}

.block-cell-subline-label {
    -fx-font-size: 12px;
    -fx-text-fill: #9ba6b2;
    -fx-padding: 0;
}

.progress-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 0 0;
    -fx-border-color: #1F5AF6;
    -fx-border-width: 1;
    -fx-min-height: 30px;
}

.progress-bar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 0 0;
}

.progress-bar .bar {
    -fx-background-color: #1F5AF6;
    -fx-background-insets: 1 1 1 1;
    -fx-background-radius: 0 0 0 0;
}

